html,body{ min-height: 100%; height: 100%; }

body {
    margin: 0;
    font-family: Arial;
}

#header {
    width: 100%;
    background-color: #000000;
}

#header h1 {
    margin: 0;
    padding: 20px;
    font-size: 30px;
    color: white;
}

h2 {
    background-color: #000000;
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 20px;
}

#main-container {
    padding: 20px;
    min-height: -moz-calc(100% - 73px);
    min-height: -webkit-calc(100% - 73px);
    min-height: calc(100% - 73px);
    height: -moz-calc(100% - 73px);
    height: -webkit-calc(100% - 73px);
    height: calc(100% - 73px);
}

#top-container {
    overflow: hidden;
}

#picture-container {
    border: 1px solid #000000;
    max-height: 322px;
    height: 100%;
}

#picture-container img {
    display: block;
    max-width: 320px;
    max-height: 240px;
    width: 100%;
    margin: 0 auto;
}

.picture-wrapper{ padding: 20px; }

#console-container {
    border: 1px solid #000000;
    height: 322px;
}

#console {
    height: 240px;
    overflow-y: scroll;
    background-color: #000000;
    color: darkgreen;
    word-wrap: break-word;
    padding: 10px;
    margin: 10px;
    height: 258px;
}

#footer {
    clear: both;
    margin-top: 20px;
    border: 1px solid #000000;
    height: -moz-calc(100% - 342px);
    height: -webkit-calc(100% - 342px);
    height: calc(100% - 342px);
}

#photos-container {
    overflow-y: scroll;
    height: -moz-calc(100% - 42px);
    height: -webkit-calc(100% - 42px);
    height: calc(100% - 42px);
}

.thumb {
    width: 120px;
    float: left;
    margin: 10px;
}

@media screen and (max-width: 991px) {
    #top-container .col-md-6{ margin-bottom: 15px; }
    #top-container .col-md-6:last-child{ margin-bottom: 0; }

    #main-container {
        height: auto;
    }

    .thumb{ width: 96%; margin: 4%; }
}